<?xml version="1.0" encoding="utf-8"?>
<!--
  MACEMU Web su IIS: MIME per i tipi non standard + no-cache sui file che
  cambiano a ogni publish (evita hash SRI vecchi dopo un redeploy).
  Solo file statici: nessun modulo ASP.NET richiesto.
-->
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".wasm" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
      <remove fileExtension=".br" />
      <mimeMap fileExtension=".br" mimeType="application/brotli" />
      <remove fileExtension=".gz" />
      <mimeMap fileExtension=".gz" mimeType="application/gzip" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
      <remove fileExtension=".mac" />
      <mimeMap fileExtension=".mac" mimeType="text/plain" />
      <remove fileExtension=".mic" />
      <mimeMap fileExtension=".mic" mimeType="text/plain" />
      <remove fileExtension=".bcf" />
      <mimeMap fileExtension=".bcf" mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>
  <location path="index.html">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="_framework/blazor.boot.json">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
